.container{
  margin: 0;
  padding: 0;
}

/* Fontawesome thin */
.fa-times-thin:before {
	content: '\00d7';
}

/* Colors */
.color-white{
  color: white;
}
.background-normal-gray{
  background-color: #808080b0;
}