  <!-- Main Content -->
  <div class="login">

    <div class="login-form">
        <!-- Username -->
        <div class="login-credentials-input-container">
            <custom-input label="Email" model="view.credentials.username"></custom-input>
        </div>

        <!-- Password -->
        <div class="login-credentials-input-container">
            <custom-input label="Password" model="view.credentials.password" input-type="password"></custom-input>
        </div>

        <!-- Login Button -->
        <div class="login-credentials-button-container">
            <custom-button label="LOG IN" on-press="userLogin()"></custom-button> 
        </div>
    </div>
    

  </div>